#iconsModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="...")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Icons on this challenge
      .modal-body.row
        .col-md-12.col-xs-12(ng-show='icons.length')
          span.col-xs-3.col-sm-2.col-md-1.fa-3x(ng-repeat='e in icons', ng-bind='codeToS(e.icon)')
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close
