.navbar.navbar-default(ng-controller='NavBarCtrl')
  link(rel='stylesheet', ng-href="{{theme}}")

  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='#') Deck tools
  .navbar-collapse.collapse.navbar-responsive-collapse
    ul.nav.navbar-nav
      li.active
        a(href='#home') Home
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Resources 
          b.caret
        ul.dropdown-menu
          li(ng-repeat='resource in resources')
            a(ng-click='setResource(resource)', ng-bind='resource')

    form.navbar-form.navbar-left(ng-if='resource')
      input.form-control.col-lg-8(type='text', placeholder='Search in {{resource}}')
    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | Theme selector 
          b.caret
        ul.dropdown-menu
          li(ng-repeat='theme in themes')
            a(ng-click='setTheme(theme)')
              span(ng-bind='theme.name')
          li.divider
          li
            a(href='#') Separated link
