body
  include ../layouts/navbar
  #deck
    .container(ng-controller="ListCtrl")
      include sections/login
      include sections/home
      include sections/resoures
  include ../layouts/footer
  include scripts
