head
  title WebApp
  link(rel="icon" href="/img/favicon.ico")
  link(rel='stylesheet', href='/application.css')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
