.alert.alert-success(role="alert", ng-if='success')
  span(ng-bind='success')
.alert.alert-success(role="alert", ng-if='alert')
  span(ng-bind='alert')
.alert.alert-danger(role="alert", ng-if='error')
  span(ng-bind='error.code || error')
