.ng-cloak#home(ng-if='!model')
  .row
    .jumbotron(ng-controller='HomeCtrl')
      .row
        .col-md-6
          h1 Deck tools
          p RESTfull APIs in seconds not weeks.
          p
          a.btn.btn-primary.btn-lg(ng-click='enableView("register")') Register
        .row.col-md-6
          include ../forms/login
          include ../forms/register
          include ../forms/recover
  
  .col-md-12(ng-if='!$parent.feed.length')
    h2 Select a resource
    a.col-md-3.btn.btn-primary.btn-lg(ng-repeat='r in $parent.resources', ng-bind='r', ng-href='/{{r}}')
