.ng-cloak#home(ng-if='!model')
  h1 Deck tools website
  .col-md-12(ng-if='!$parent.feed.length')
    h2 Select a resource
    a.col-md-3.btn.btn-primary.btn-lg(ng-repeat='r in $parent.resources', ng-bind='r', ng-href='/{{r}}')
