var(ng-init='model= #{JSON.stringify(model)}')
var(ng-init='id= #{JSON.stringify(id)}')

div(ng-if='model && !id')
  h1(ng-bind='$parent.model + " feed"')
  .row
    .col-md-12.text-center(ng-if='!$parent.feed.length')
      h4 There are not items.
    div(ng-repeat='f in $parent.feed | filter:$parent.search')
      pre.col-md-10
        code(class="language-js") {{f}}
      a.col-md-1.btn.btn-primary(ng-click='setHashId(f)')
        i.glyphicon.glyphicon-pencil
      a.col-md-1.btn.btn-danger
        i.glyphicon.glyphicon-trash

div(ng-if='model && id')
  h1 Edit {{model}}
  .row(ng-if='model==="users"')
    .col-md-3
        include ../navs/users
    .col-md-9
        include ../forms/users
  .row(ng-if='model==="roles"')
    .col-md-3
      include ../navs/roles
    .col-md-9
      include ../forms/roles
  .row(ng-if='model==="groups"')
    .col-md-3
      include ../navs/groups
    .col-md-9
      include ../forms/groups
  .row(ng-if='model==="tasks"')
    .col-md-3
      include ../navs/tasks
    .col-md-9
      include ../forms/tasks
