var(ng-init='model= #{JSON.stringify(model)}')
var(ng-init='id= #{JSON.stringify(id)}')

div(ng-if='model && !id')
  h1(ng-bind='$parent.model + " feed"')
  .row
    div(ng-repeat='f in $parent.feed | filter:$parent.search')
      pre.col-md-10
        code(class="language-js") {{f}}
      a.col-md-1.btn.btn-primary(ng-click='setHashId(f)')
        i.glyphicon.glyphicon-pencil
      a.col-md-1.btn.btn-danger
        i.glyphicon.glyphicon-trash
    .col-md-12.text-center(ng-if='!$parent.feed.length')
      h4 There are not items.

div(ng-if='model && id')
  h1 Edit {{model}}
  .row
    .col-md-3
      a.btn.btn-primary.col-md-12(ng-repeat='f in $parent.feed')
        span(ng-bind='f._id')
    .col-md-9
      form.form-horizontal
      fieldset
        .form-group(ng-repeat='(k,v) in $parent.edit')
          label.col-lg-2.control-label(for='inputEmail') {{k}}
          .col-lg-10
            input#inputEmail.form-control(type='text', ng-model='$parent.edit[$index]')
        .form-group
          .col-lg-10.col-lg-offset-2
            button.btn.btn-default.col-lg-12(ng-click='$parent.update()') Update

        
