.row.ng-cloak(ng-switch='model')
  .col-xs-12.col-sm-12.col-md-3
    include ../navs/list
    include ../navs/empty
  .col-xs-12.col-sm-12.col-md-9
    div(ng-switch-when='users')
      include ../forms/users
