.row.ng-cloak(ng-switch='model')
  div(ng-switch-when='users')
    .col-md-3
      include ../navs/users
      include ../navs/empty
    .col-md-9
      include ../forms/users
  div(ng-switch-when='roles')
    .col-md-3
      include ../navs/roles
      include ../navs/empty
    .col-md-9
      include ../forms/roles
  div(ng-switch-when='groups')
    .col-md-3
      include ../navs/groups
      include ../navs/empty
    .col-md-9
      include ../forms/groups
  div(ng-switch-when='tasks')
    .col-md-3
      include ../navs/tasks
      include ../navs/empty
    .col-md-9
      include ../forms/tasks
  div(ng-switch-when='products')
    .col-md-3
      include ../navs/products
      include ../navs/empty
    .col-md-9
      include ../forms/products
