.form-group
  .col-md-10.col-md-offset-2(ng-if='$parent.edit._id')
    a.btn.btn-default.col-md-12(ng-click='$parent.update()', 
      ng-disabled='$parent.modelForm.$invalid')
      i.glyphicon.glyphicon-edit &nbsp;Update
  .col-md-10.col-md-offset-2(ng-if='!$parent.edit._id')
    a.btn.btn-default.col-md-12(ng-click='$parent.create($parent.edit)', 
      ng-disabled='$parent.modelForm.$invalid')
      i.glyphicon.glyphicon-ok &nbsp;Create
