form.form-horizontal(name='modelForm')
  fieldset
    .form-group
      label.col-md-2.control-label Challenge
      .col-md-10
        input.form-control(ng-model='$parent.edit.challenge', type='text', required='true')
    .form-group
      label.col-md-2.control-label User
      .col-md-10
        input.form-control(ng-model='$parent.edit.user', type='text', required='true')
    .form-group
      label.col-md-2.control-label Gems
      .col-md-10
        input.form-control(ng-model='$parent.edit.gems', type='text', required='true')
    include actions