include ../layouts/app
  head
    title User Email Confirmed
    link(rel="icon" href="/img/favicon.ico")
    link(rel='stylesheet', href='/themes/paper.min.css')
  body
    .navbar.navbar-default
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
        a.navbar-brand(href='/') Deck Tools
      .navbar-collapse.collapse.navbar-responsive-collapse
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown.active(href='') API
          li.dropdown
            a.dropdown.active(href='') Docs
    .container
      .jumbotron
        .row
          .col-md-6.col-xs-12
            h2 User Confirmed!
            p Read email inbox for instructions.
            a.btn.btn-primary.btn-lg.col-md-12.col-xs-12(href='/')
              i.fa.fa-home
              | Ir al home

          .col-md-6.col-xs-12
            h3 Next Steps
            p Read game rules.
            p Train yourself.
            p Invite your friends.
            p Create challege.
            p Share your score.
