table.table.text-center
  thead
    tr
      td Time (sec)
      td Gems
  tbody
    tr
      td
        i.glyphicon.glyphicon-time <5
      td
        i.glyphicon.glyphicon-star 7
    tr
      td
        i.glyphicon.glyphicon-time <10
      td
        i.glyphicon.glyphicon-star 6
    tr
      td
        i.glyphicon.glyphicon-time <20
      td
        i.glyphicon.glyphicon-star 5
    tr
      td
        i.glyphicon.glyphicon-time <30
      td
        i.glyphicon.glyphicon-star 4
    tr
      td
        i.glyphicon.glyphicon-time <40
      td
        i.glyphicon.glyphicon-star 3
    tr
      td
        i.glyphicon.glyphicon-time <50
      td
        i.glyphicon.glyphicon-star 2
    tr
      td
        i.glyphicon.glyphicon-time >=50
      td
        i.glyphicon.glyphicon-star 1
